<h2>Nieuwe vraag toevoegen!</h2>

<div class='question-types clearfix'>
	<div class='type one' >
		<div>
			<div class='content'>
				<div>
					<%= link_to 'Question type: 1 Normale vraag', new_question_path %>
				</div>
			</div>
		</div>
	</div>
	<div class='type two' >
		<div>
			<div class='content'>
				<div>
					<%= link_to 'Question type: 2 Kies tussen twee afbeeldingen', new_choose_image_path %>
					</div>
			</div>
		</div>
	</div>
	<div class='type three' >
		<div>
			<div class='content'>
				<div>
					<%= link_to 'Question type: 3 Afbeelding en schrijf het woord', new_write_word_path %>
				</div>
			</div>
		</div>
	</div>
</div>