<p><%= @question.category.title %></p>
<p><%= @question.language.title %></p>
<h3><%= @question.title %></h3>

<ul>
<% @question.answers.each do |answer| %>
	<li>
		<%= answer.title %>
		<% if answer.id == @question.correct_answer_id %>
			Correcte vraag
		<% end %>
	</li>
<% end %>
</ul>