<p><%= @question.title %></p>
<p>Categorie: <%= @question.category.title %></p>
<p>Taal: <%= @question.language.title %></p>

<ul>
<% @question.answers.each do |answer| %>
	<li>
		<%= link_to answer.title, submit_answer_path(@question, answer_id: answer.id) %>
	</li>
<% end %>
</ul>
