<h2>Ongecheckte vragen</h2>
<ul>
	<% @questions.each do |q| %>
		<li><%= link_to q.title, show_check_path(q) if q.category_id != 3 %></li>
    <li><%= link_to q.answers.first.title, show_check_path(q) if q.category_id == 3 %></li>
	<% end %>
</ul>