<p>Teams topscore</p>

<table>
  <thead>
    <tr>
      <th>Positie</th>
      <th>Team</th>
      <th>Punten</th>
    </tr>
  </thead>
  <tbody>
  	<% @teams.each_with_index do |team, index| %>
	    <tr>
	      <td><%= index + 1 %></td>
	      <td><%= link_to team.name, team %></td>
	      <td><%= team.total_points %></td>
	    </tr>
  	<% end %>
  </tbody>
</table>

<p><%= link_to "Start een eigen team", new_team_path %></p>
