<p>
	<%= link_to 'Vraag toevoegen', new_question_path %>
</p>
<p>
	<%= link_to 'Geef mij een vraag!', @question %>
</p>
<p>
	<%= link_to 'Categorie kiezen', static_pages_pick_category_path %>
</p>
<p>
	<%= link_to 'Taal kiezen', static_pages_pick_language_path %>
</p>