<h2>Kies een taal</h2>
<div>
  <%= link_to 'Nederlands', @dutch, class: 'btn-home  icon play' %>
  <%= link_to 'English', @english, class: 'btn-home  icon play' %>
  <%= link_to 'Frysk', @frisian, class: 'btn-home  icon play' %>
</div>
