<h2 class="title">Kies een taal</h2>

<div class="clearfix">
  <%= link_to 'Nederlands', @dutch, class: 'btn-home  icon play' %>
  <%= link_to 'English', @english, class: 'btn-home  icon play' %>
  <%= link_to 'Frysk', @frisian, class: 'btn-home  icon play' %>
</div>
