<h2>Kies een categorie</h2>

<%= link_to @reading.category.title, @reading, class: 'btn' if !@reading.nil? %>

<%= link_to @foto_quiz.category.title, @foto_quiz, class: 'btn' if !@foto_quiz.nil? %>

<%= link_to @writing.category.title, @writing, class: 'btn' if !@writing.nil? %>