<p>Topscore</p>

<table>
  <thead>
    <tr>
      <th>Positie</th>
      <th>Gebruiker</th>
      <th>Punten</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.name %></td>
      <td><%= user.points %></td>
    </tr>
    <% end %>
  </tbody>
</table>