<p>Topscore</p>

<table>
  <thead>
    <tr>
      <th>Punten</th>
      <th>Gebruiker</th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
    <tr>
      <td><%= user.points %></td>
      <td><%= user.name %></td>
    </tr>
  	<% end %>
  </tbody>
</table>