@import 'bourbon';
@import 'base/base';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

$blue: #6fccdd;
$gray-bg: #f3f3f3;


body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  overflow-x:hidden;
  background-color: #f8f8f8;
  a {
  	padding: 0 10px 0 0;
    color: $blue;
  }
}

#screen{
  position: relative;
  min-width: 320px;
  min-height: 500px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: $gray-bg;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.28); 
}

b
header {
  height: 84px;
  width: auto;
  h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans', sans serif;
  }
}

.nav {
  background-color: white;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: 180px 58px;
  background-position: center;
  width: 800px;
  height: 84px;
  top: 0;
}

@import 'menu';
@import 'buttons';
@import 'profile';
@import 'points';
@import 'timer';
@import 'questions';
@import 'given_answer';

.overlay-popup,
.overlay {
  z-index: 100;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  background: rgba(0,0,0,0.2);
  @include transition( 0.3s );
  &.active {
    width: 100%;
  }
}

.overlay-popup {
  z-index: 1000;
  cursor: default;
}

/* Clear Floated Elements 
------------------------------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
