@import 'bourbon';
@import 'base/base';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

$blue: #6fccdd;
$blue-hover: #64b5c4;
$gray: #f3f3f3;
$dark-gray: #b1b1b2;
$darker-gray: #676767;
$red: #DB524B;
$green: #58B957;
$stenden-blue: #013A75;


html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  width: 100%;
  background-color: #f8f8f8;
  @include transform(translateX(0px));
  @include transition( 0.3s );
  &.active {
    @include transform(translateX(-200px));
  }
  a {
  	padding: 0 10px 0 0;
    color: $blue;
  }
}

.wrapper {
  position: relative;
  max-width: 800px;
  padding: 0 10px 0 30px; // Dit is een rare bug, geen flauw idee.
  margin: 0 auto;
}

@import 'header';
@import 'menu';
@import 'buttons';
@import 'profile';
@import 'points';
@import 'timer';
@import 'questions';
@import 'question_popup';
@import 'charts';

.overlay-popup,
.overlay {
  z-index: 100;
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  background: rgba(0,0,0,0.2);
  @include transition( 0.3s );
  &.active {
    width: 100%;
  }
}

.overlay-popup {
  z-index: 1000;
  cursor: default;
}

/* Clear Floated Elements 
------------------------------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
