@import 'bourbon';
@import 'base/base';

body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  overflow-x:hidden;
  a {
  	padding: 0 10px 0 0;
  }
}

header {
  height: 40px;
  h1 {
    font-size: 24px;
    text-align: center;
    padding-right: 40px;
  }
}


@import 'menu';
@import 'buttons';
@import 'profile';
@import 'points';

.overlay {
  z-index: 100;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  background: rgba(0,0,0,0.2);
  @include transition( 0.3s );
  &.active {
    width: 100%;
  }
}