.answer-container {
  width: 100%;
}

.answer {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  margin: 12px 0;
  text-align: center;
}

.correct_answer{
  background-color: #8dc63f;
}

.wrong_answer{
  background-color: #cd0219;
}

.btn {
  padding: 24px;
  padding-left: 100px;
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #f7f7f7;
  &:before {
    content: '';
    background: #f7f7f7;
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    left: 12px;
    top: 12px;
  }
}

.btn-default{
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  margin: 12px 0;
  text-align: center;
  width:100px;
}