.box {
  padding: 0 20px;
  margin: 0px;
}

/*Button effect
*/

.btn-home {
  position: relative;
  padding: 25px 40px;
  padding-left: 80px;
  margin: 0px 10px 15px 0px;
  border-radius: 5px;
  font-family: 'Open Sans', sans serif;
  display: inline-table;
  position: relative;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #6fccdd;
  border-bottom: 4px solid #64b5c4;
  width: 32%;
  max-width: auto;
    &:before {
    content: '';
    background: none;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 14px;
    top: 14px;
    margin-right: 400px;
    background-image: url('profile-icon.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
}

.btn-home:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid #64b5c4;
  margin-bottom: 13px;
}

.btn-home:hover {
  color: #fff;
  opacity: 0.8;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

@media (max-width: 800px) {
  .btn-home {
    position: relative;
    width: 100%;
    padding: 25px 0px;
  }
}
