@import 'variables';

input,
textarea {
	width: 100%;
	padding: 6px 0;
	border-radius: 4px;
}

input[type='submit'] {
	background: whitesmoke;
	width: auto;
}

.field,
.actions {
	padding: $spacing/4 0;
}