.question-popup {
	width: 300px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	top: 50%;
	z-index: 1001;
	margin-top: -90px;
	left: 50%;
	margin-left: -175px;
	background: #fff;
	padding: 0px 25px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
	border-radius: 4px;
	transition: 0.3s;
	&.active {
		height: auto;
		padding: 25px;
	}
	.btn-default {
		width: auto;
	}
	p {
		text-align: center;
	}
}