header {
  width: 100%;
  height: 60px;
  background: #fff;
}

.logo {
  background: asset-url('logo.png');
  width: 204px;
  height: 66px;
  margin: 0 auto;
  transform: scale(0.4);
  text-indent: -10000px;
  position: relative;
  top: -2px;
  a {
    display: block;
    padding: 10px;
  }
}