.login {
	background: linear-gradient(
      rgba(0, 0, 0, 0.20), 
      rgba(0, 0, 0, 0.20)), asset-url('S-background.png'); 
	background-position: center;
	min-height: 100%;
	h2 {
		background-color: $blue;
		text-align: center;
		padding: 40px 0px;
		color: #fff;
		font-family: 'Open Sans', sans serif;
		font-size: 20px;
		margin-bottom: 40px;
	}

	.field {
		margin: 24px auto;
		position: relative;
		label {
			color: #b3b1b3;
			font-family: 'Open Sans', sans serif;
		}
	}

	input[type='text'],
	input[type='password'],
	input[type='email'] {
		text-indent: 50px;
		color: $blue-hover !important;
	}

	form {
		padding: 36px;
		border-bottom: 1px solid $gray;
		
	}

	input[type='submit'] {
		width: 50%;
		float: right;
	}

	.link-btn {
		color: #666;
		margin-top: 16px;
		font-size: 18px;
		float: left; 
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	label {
		display: inline-block;
	}
	em {
		color: $dark-gray;
	}
	.links {
		padding: 0 36px;
		li {
			width: 100%;
			float: left;
			padding-top: 24px; 
			a {
				width: auto;
				padding: 20px 0;
				box-shadow: 1px 2px 3px rgba(0,0,0,.4);
				&:hover {
					background: $blue-hover;
					box-shadow: 0 0 0 rgba(0,0,0,.4);
				}
			}
		}
	}
	.sign-up {
		background: $blue;
	}
}

.email-icon,
.key-icon {
	background-image: asset-url('key-icon.png');
	background-repeat: no-repeat;
	width: 33px;
	height: 32px;
	z-index: 4;
	left: 12px;
	top: 55px;
	position: absolute;
}

.email-icon {
	background-image: asset-url('email-icon.png');
}

.login-box {
	max-width: 500px;
	width: 90%;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}
