.menu {
  width: 200px;
  position: fixed;
  right: -200px;
  top: 0;
  height: 100%;
  background: #fff; 
  @include transition( 0.3s );
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  &.active {
    //right: 0;
    //box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    cursor: pointer;
    background: #fff;
    @include transition( 0.3s );
    &:hover {
      background: #f7f7f7;
    }
  }
  li {
    margin: 10px 0;
    &:first-child {
      margin-top: 40px;
    }
  }
}

.hamburger {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  @include transition( 0.3s );
  cursor: pointer;
  > div {
    width: 100%;
    height: 100%;
    position: relative;
    @include transition( 0.3s );
    @include transform( rotate(0deg) ); 
  }
  span {
    width: 8px;
    height: 8px;
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -4px;
    background: $dark-gray;
    margin-top: 0;
    border-radius: 4px;
    @include transition( 0.3s );
    @include transform( rotate(0deg) ); 
    &:first-child {
      top: 0px;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -4px;
    }
    &:last-child {
      margin-top: -8px;
      top: 100%;
    }
  }
  &.active,
  &:hover {
    span {
      height: 5px;
      left: 7px;
      width: 30px;
      &:first-child,
      &:last-child {
        top: 50%;
        margin-top: -4px;
      }
      &:nth-child(2) {
        @include transform( rotate(90deg) );
      }
    }
  }
  &.active {
    > div {
      @include transform( rotate(45deg) );
    }
    &:hover {
      > div {
        @include transform( rotate(-45deg) );
      }
    }
  }
}