.menu {
  z-index: 101;
  width: 200px;
  position: absolute;
  right: -200px;
  top: 0;
  height: 100%;
  background: #fff; 
  @include transition( 0.3s );
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  &.active {
    right: 0;
    box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    cursor: pointer;
    background: #fff;
    @include transition( 0.3s );
    &:hover {
      background: #f7f7f7;
    }
  }
  li {
    margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.hamburger {
  z-index: 102;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  background: #fff;
  @include transition( 0.3s );
  cursor: pointer;
  > div {
    width: 100%;
    height: 100%;
    position: relative;
    @include transition( 0.3s );
    @include transform( rotate(0deg) ); 
  }
  span {
    width: 30px;
    height: 4px;
    display: block;
    position: absolute;
    left: 5px;
    background: #477DCA;
    margin-top: 0;
    @include transition( 0.3s );
    @include transform( rotate(0deg) ); 
    &:first-child {
      top: 10px;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -2px;
    }
    &:last-child {
      margin-top: -14px;
      top: 100%;
    }
  }
  &.active,
  &:hover {
    span {
      &:first-child,
      &:last-child {
        top: 50%;
        margin-top: -2px;
      }
      &:nth-child(2) {
        @include transform( rotate(90deg) );
      }
    }
  }
  &.active {
    right: 200px;
    box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
    > div {
      @include transform( rotate(45deg) );
    }
    &:hover {
      > div {
        @include transform( rotate(-45deg) );
      }
    }
  }
}
