.notice {
	width: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 60px;
	height: 0;
	padding: 0;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	z-index: 1;
	background: $green;
	border: 0px solid $green;
	box-shadow: 0 0 0px rgba(88,185,87,.8);
	overflow: hidden;
	@include transition(0.3s);
	&.fail {
		background: $red;
		border: 0px solid $red;
		box-shadow: 0 0 0px rgba(219,82,79,.8);
		&.active {
			border: 1px solid $red;
			box-shadow: 0 0 5px rgba(219,82,79,.8);
		}
	}
	&.active {
		height: 24px;
		padding: 12px 0;
		border: 1px solid $green;
		box-shadow: 0 0 5px rgba(88,185,87,.8);
	}
}