.name-chars,
.mini-thumb {
	position: relative;
	height: 100px;
	width: 100px;
	overflow: hidden;
	float: left;
	img {
		position: absolute;
		margin: auto;
	}
}

.name-chars {
	height: 68px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 32px;
	color: #999;
	text-align: center;
	margin-top: 32px;
}


.profile-info {
	display: table;
	height: 80px;
	padding: 10px;
}