.name-chars,
.mini-thumb {
	position: relative;
	height: 100px;
	width: 100px;
	overflow: hidden;
	img {
		position: absolute;
		margin: auto;
	}
}

.name-chars {
	background-image: url('https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1520774_658854700831266_2001682377_n.jpg?oh=ef24e175ee539e09752e4c0ba1706e61&oe=5630F88D');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 100px;
	color: #fff;
	text-align: center;
	margin-top: 32px;
	background-color: #ff00c0;
	height: 190px;
	width: 190px;
	border-radius: 50%;
	border: solid 3px white;
	display: inline-block;
	color: white;
	line-height: 180px;
}

.coverphoto {
	background: linear-gradient(
      rgba(0, 0, 0, 0.60), 
      rgba(0, 0, 0, 0.60)
    ),  url('https://scontent-ams3-1.xx.fbcdn.net/hphotos-frc3/t31.0-8/s2048x2048/1172531_583267078390029_1334500424_o.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 367px;
	text-align: center;
}
	h4,
	h5 {
		color: white;
	}


.profile-info {
	display: inline;
	text-align: center;
}

.editprofile {
	background-color: red;
	background-image: url('images/edit.png');
	background-size: cover;
	background-repeat: no-repeat;
}


.level {
	background-color: white;
	height: 100px;
	width: 728px;
	top: -50px;
	position: relative;
	border-radius: 5px;
	margin-left: 30px;
	-webkit-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.15);
 	-moz-box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.15);
  	box-shadow: 1px 1px 12px 2px rgba(0,0,0,0.15);
}