.question-types {
	width: 100%;
	clear: both;
	margin: 12px 0;

	.type {
		position: relative;
    width: 33%;
    padding-bottom: 25%;
    float: left;
    height: 0;

	  > div {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    display: block;

	    .content {
	    	box-sizing:border-box;
			  -moz-box-sizing:border-box;
			  -webkit-box-sizing:border-box;
			  width:100%;
			  height:100%;
			  border: 6px solid #fff;

	    	> div {
	    		position: relative;
	    		display: block;
		    	width: 100%;
		    	height: 100%;
		    	background: #f7f7f7
	    	}
	    }
	  }
	  &.active {
	  	> div {
	  		.content {
	  			border: 6px solid #477DCA;
	  		}
	  	}
	  	a {
	  		cursor: default;
	  	}
	  }
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.write-word {
	position: relative;
	.letters {
		//position: relative;
	}
	.letter {
		margin: 12px;
		border-radius: 4px;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
		color: #fff;
		float: left;
		padding: 12px 16px;
		font-weight: bold;
		background: #477DCA;
		cursor: pointer;
		  @include transition( 0.3s );

	}
	.dot {
		width: 5px;
		height: 5px;
		background: #333;
		border-radius: 100%;
		float: left;
		margin: 43px 32px;
	}
}