.question-types {
	width: 100%;
	clear: both;
	margin: 12px 0;

	.type {
		position: relative;
    width: 33%;
    padding-bottom: 25%;
    float: left;
    height: 0;

	  > div {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    display: block;

	    .content {
	    	box-sizing:border-box;
			  -moz-box-sizing:border-box;
			  -webkit-box-sizing:border-box;
			  width:100%;
			  height:100%;
			  border: 6px solid #fff;

	    	> div {
	    		position: relative;
	    		display: block;
		    	width: 100%;
		    	height: 100%;
		    	background: #f7f7f7
	    	}
	    }
	  }
	  &.active {
	  	> div {
	  		.content {
	  			border: 6px solid #477DCA;
	  		}
	  	}
	  	a {
	  		cursor: default;
	  	}
	  }
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.question-image {
	width: 100%;
}


.write-word {
	position: relative;
	.letters {
		//position: relative;
	}
	.letter {
		margin: 10px 0;
		margin-right: 10px;
		border-radius: 5px;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
		color: #000;
		float: left;
		height: 40px;
		width: 40px;
		text-align: center;
		line-height: 42px;
		font-weight: bold;
		background: #dededd;
		border-style: none solid solid none;
		border-width: 2px;
		border-color: #d1d1d0;
		cursor: pointer;
		@include transition( 0.3s );
		&:hover,
		&.active {
			background-color: #fce745;
			border-color: #e2bc23;
		}
	}
}

.dot {
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 4px;
	float: left;
	margin: 10px 0;
	margin-right: 10px;
	position: relative;
	&:before {
		content: '';
		background: #333;
		width: 6px;
		height: 6px;
		position: absolute;
		top: 18px;
		border-radius: 100%; 
		left: 0;
		right: 0;
		margin: auto;
	}
}

.answer-container {
  width: 100%;
}

.answer {
  background: $blue;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 20px 30px;
  text-decoration: none;
  margin: 12px 0;
  text-align: center;
  font-family: 'Open Sans', sans serif;
  float: right;
  @include transition(0.3s);
  &:hover {
    background: $blue-hover;
    color: #fff
  }
}

.correct_answer{
  background-color: #8dc63f;
}

.wrong_answer{
  background-color: #cd0219;
}

