.question-popup {
	max-width: 300px;
	width: 100%;
	height: 0px;
	position: absolute;
	overflow: hidden;
	z-index: 1001;
	bottom: 40px;
	left: 50%;
	margin-left: -175px;
	background: #fff;
	padding: 0px 25px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
	border-radius: 4px;
	@include transition(0.3s);
	p {
		font-size: 1px;
		@include transition(0.3s);
	}
	&.active {
		height: auto;
		padding: 25px;
		p {
			font-size: 14px;
			&.answer-title {
				font-size: 30px;
			}
		}
	}
	.btn-default {
		width: auto;
		box-shadow: 1px 2px 3px rgba(0,0,0,.4);
		@include transition(0.3s);
		&.next {
			background: $blue;
			&:hover {
		    background: $blue-hover;
		    color: #fff;
		  }
		}
		&.quit {
			background: $darker-gray;
			&:hover {
				background: $dark-gray;
				color: #fff;
			}
		}
		&:hover {
			box-shadow: 0 0 0 rgba(0,0,0,0.4);
		}
	}
	p {
		text-align: center;
		&.answer-title {
			font-family: 'Open Sans', sans serif;
			font-weight: 200;
		}
	}
	&.correct {
		border: 1px solid $green;
		box-shadow: 0 0 5px rgba(171,203,68,.8);
	}
	&.fail {
		border: 1px solid $red;
		box-shadow: 0 0 5px rgba(189,32,38,.8);
	}
}