.question-types {
	width: 100%;
	clear: both;
	margin: 12px 0;

	.type {
		position: relative;
    width: 33%;
    padding-bottom: 25%;
    float: left;
    height: 0;

	  > div {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    display: block;

	    .content {
	    	box-sizing:border-box;
			  -moz-box-sizing:border-box;
			  -webkit-box-sizing:border-box;
			  width:100%;
			  height:100%;
			  border: 6px solid #fff;

	    	> div {
	    		position: relative;
	    		display: block;
		    	width: 100%;
		    	height: 100%;
		    	background: #f7f7f7
	    	}
	    }
	  }
	  &.active {
	  	> div {
	  		.content {
	  			border: 6px solid #477DCA;
	  		}
	  	}
	  	a {
	  		cursor: default;
	  	}
	  }
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
	}
}

.question-image {
	width: 100%;
}


.write-word {
	position: relative;
	.letters {
		//position: relative;
	}
	.letter {
		margin: 12px;
		border-radius: 4px;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
		color: #000;
		float: left;
		height: 60px;
		width: 60px;
		text-align: center;
		line-height: 65px;
		font-weight: bold;
		background: #dededd;
		border-style: none solid solid none;
		border-width: 4px;
		border-color: #d1d1d0;
		border-radius: 20%;
		cursor: pointer;
		@include transition( 0.3s );
		&.active {
			background-color: #fce745;
			border-color: #e2bc23;
		}
	}
}

.dot {
	width: 5px;
	height: 5px;
	background: #333;
	border-radius: 100%;
	float: left;
	margin: 43px 32px;
}